* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #40047c 0%, #07f29c 100%);
}

main {
    margin: 2rem auto 0 auto;
    background-color: #fae4fa;
    box-shadow: 0 0 2rem #e2dfdf;
    width: 22rem;
    height: 38rem;
    text-align: center;
}

header {
    background: #40047c;
    height: 2rem;
    margin-bottom: 1rem;
}

header h1 {
    font: 500 1.2rem 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #fff;
}

label p {
    text-align: left;
    margin: 1rem 0 0.5rem 2rem;
    font: 500 0.8rem 'Poppins', sans-serif;
}

select {
    font: 500 0.8rem 'Poppins', sans-serif;
    letter-spacing: 2px;
}

select,
input,
button {
    display: flex;
    flex-direction: column;
    margin: 0.4rem auto;
    width: 18rem;
    padding: 0.4rem;
    border: none;
    appearance: none;
    outline: none;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
}

#btn {
    align-items: center;
    background-color: #40047c;
    color: #fff;
    cursor: pointer;
    font: 500 1rem 'Poppins', sans-serif;
    letter-spacing: 2px;
    border-radius: 1.1rem;
    margin: 1rem auto;
    transition: all 0.2s;
}

#btn:hover {
    opacity: 0.9;
}

#btn:active {
    opacity: 0.5;
}

section {
    border: 2px solid #40047c;
    width: 20rem;
    margin: 0.2rem auto;
    padding: 0.5rem 0;
}

section div legend {
    font: 500 0.8rem 'Poppins', sans-serif;
    letter-spacing: 1px;
}

section div p {
    font: 700 1rem 'Poppins', sans-serif;
    color: #40047c;

}

i img {
    height: 2.2rem;
    margin: 0.7rem 0;
}

@media (min-width: 500px) {

    main {
        margin: 1rem auto 0 auto;
        width: 25rem;
        height: 39rem;
    }

    header {
        height: 3rem;
        margin-bottom: 1.5rem;
        padding-top: 0.5rem;
    }

    label select,
    label input,
    button {
        width: 21rem;
    }

    .convert {
        width: 21rem;
    }
}